@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Playfair+Display&family=Roboto+Slab&display=swap');@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto+Slab&display=swap');
body{
    color: rgb(197, 205, 210);
    background-color: rgb(32, 32, 32);
    background-image: url('/static/images/background.jpg');
    background-size: cover;
    padding: 15px 15px 15px 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1{
    font-family: 'Playfair Display', serif;
}

h3, h5{
    font-family: 'Roboto Slab', serif;
    padding-left: 10px;
}



img{
    border-radius: 3%;
    height: 100px;
}

p{
    white-space: pre-line;
    font-family: 'Merriweather', serif;
}

li{
    font-size: 20px;
    padding: 3px;
    font-family: 'Merriweather', serif;
}

a{
    font-family: 'Merriweather', serif;
    padding: 5px;
    color: rgb(177, 177, 36);
    transition-duration: .2s;
    text-decoration: none;
}
a:hover{
    color: rgb(42, 56, 42);
    background-color: rgba(177, 177, 36, 0.7);
}
.recipeTitle{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}
.starImg{
    height: 35px;
    transition-duration: .2s;
}

.starImg:hover{
    background-color: rgba(42, 56, 42, 0.4);
}

.recipeEdit{
    display: flex;
    flex-direction: column;
    justify-content: right;
}
#recipeList:hover{
    color: rgb(42, 56, 42);
    background-color: rgba(177, 177, 36, 0.7);
}
#logoutText{
    box-sizing: border-box;
    color: rgb(177, 177, 36);
    text-decoration: none;
    font-family: 'Roboto Slab', serif;
    font-size: 17px;
    background-color: rgba(98, 22, 22, 0.7);
    padding: 8px;
    width: fit-content;
    transition-duration: .4s;
    margin: 10px;
}
#logoutText:hover{
    color: rgb(98, 22, 22);
    background-color: rgba(177, 177, 36, 0.7);
}

#authorBox{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    margin: 5px;
    border-radius: 2%;
    min-width: fit-content;
    max-width: 468px;
    background-color: rgb(36, 36, 59, 0.7);
}
#titleBox{
    padding: 10px;
    margin: 5px;
    border-radius: 2%;
    min-width: fit-content;
    max-width: 468px;
    background-color: rgb(36, 36, 59, 0.7);
}

#recipeBox{
    padding: 10px;
    margin: 5px;
    border-radius: 2%;
    min-width: fit-content;
    max-width: 468px;
    background-color: rgba(42, 56, 42, 0.7);
}
.links{
    display: flex;
    flex-direction: row;
    margin: 5px;
}
#linksBox{
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin: 5px;
    border-radius: 2%;
    min-width: fit-content;
    max-width: 234px;
    background-color: rgba(42, 56, 42, 0.7);  
    transition-duration: .2s;  
}

#linksBox:hover{
    background-color: rgba(177, 177, 36, .7); 
    color: rgb(42, 56, 42);   

}

input, textarea, option, select{
    color: rgb(197, 205, 210);
    font-size: 16px;
    font-family: 'Merriweather', serif;
    padding: 3px;
    border: 1px solid rgb(36, 36, 59);
    outline: none;
    background-color: rgba(42, 56, 42, 0.849);
}

textarea{
    resize: none;
    
}
#submitButton{
transition-duration: .4s;
}
#submitButton:hover{
background-color: rgb(42, 56, 42);
border: 1px solid rgba(218, 165, 32, 0.76);
}

