{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
<div id="authorBox">
    <h1>Author: {{author.name}}</h1>
    <img src="{% static 'images/'%}{{author.name|lower|slugify}}.jpg" alt="{{author.name}} Profile"
        onerror="this.src='/static/images/defaultImage.png'">
    <h3>Bio: {{author.bio}}</h3>
    <div id="recipeBox">
        <p>Recipes by {{author.name}}:</p>
        <ul>
            {% for item in recipes%}
            <li><a id="recipeList" href="/recipes/{{item.id}}">{{item.title}}</a></li>
            {% endfor %}
        </ul>
    </div>
    {% if favorites %}
    <div id="recipeBox">
        <p>Favorite Recipes</p>
        <ul>
            {%for favorite in favorites%}
            <li><a id="recipeList" href="/recipes/{{favorite.id}}/">{{favorite.title}}</a> by
                <a id="recipeList" href="/authors/{{favorite.author.id}}">{{favorite.author}}</a>
            </li>
            {%endfor%}
        </ul>
    </div>

    {% endif %}

</div>
<h5><a href="/">Back to Homepage</a></h5>