{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
<div id="titleBox">
    <h1>Try out some Recipes!</h1>
    {% if request.user.is_authenticated %}
    <h3>Welcome, {{request.user.author}}!</h3>
    {% else %}
    <h3>Are you a <a href="/login">Current User</a> or <a href="/signup">New User</a>?
    </h3>
    {% endif %}
    <h3>Click on one of the recipes below:</h3>
    <ul>
        {% for item in recipes%}
        <li><a id="recipeList" href="/recipes/{{item.id}}">{{item.title}}</a> </li>
        {% endfor %}

    </ul>
    <div id="linksBox">
        <h5><a id="recipeList" href="/addrecipe">Add a recipe</a></h5>
        <h5><a id="recipeList" href="/addauthor">Add an author</a></h5>
    </div>
    {% if request.user.is_authenticated %}
    <div class="logoutLink"><a id="logoutText" href="/logout">Logout</a></div>

    {% endif %}
</div>